
SALT_MASTERS = {
        'netops2' : { 
                     "url": 'http://192.0.2.5:8000',
                     'username': 'salt_example',
                     'password': 'example_pass',
                     },
        }
